WeatherData.Business/Entities/WeatherData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="weatherdata">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="location">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="type" type="xs:string" />
              <xs:element name="country" type="xs:string" />
              <xs:element name="timezone">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="utcoffsetMinutes" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="location">
                <xs:complexType>
                  <xs:attribute name="altitude" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="latitude" type="xs:decimal" use="required" />
                  <xs:attribute name="longitude" type="xs:decimal" use="required" />
                  <xs:attribute name="geobase" type="xs:string" use="required" />
                  <xs:attribute name="geobaseid" type="xs:unsignedInt" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="credit">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="link">
                <xs:complexType>
                  <xs:attribute name="text" type="xs:string" use="required" />
                  <xs:attribute name="url" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="links">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="link">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="url" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="meta">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="lastupdate" type="xs:dateTime" />
              <xs:element name="nextupdate" type="xs:dateTime" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="sun">
          <xs:complexType>
            <xs:attribute name="rise" type="xs:dateTime" use="required" />
            <xs:attribute name="set" type="xs:dateTime" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="forecast">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="tabular">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="time">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="symbol">
                            <xs:complexType>
                              <xs:attribute name="number" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="numberEx" type="xs:unsignedByte" use="required" />
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="var" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="precipitation">
                            <xs:complexType>
                              <xs:attribute name="value" type="xs:decimal" use="required" />
                              <xs:attribute name="minvalue" type="xs:decimal" use="optional" />
                              <xs:attribute name="maxvalue" type="xs:decimal" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="windDirection">
                            <xs:complexType>
                              <xs:attribute name="deg" type="xs:decimal" use="required" />
                              <xs:attribute name="code" type="xs:string" use="required" />
                              <xs:attribute name="name" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="windSpeed">
                            <xs:complexType>
                              <xs:attribute name="mps" type="xs:decimal" use="required" />
                              <xs:attribute name="name" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="temperature">
                            <xs:complexType>
                              <xs:attribute name="unit" type="xs:string" use="required" />
                              <xs:attribute name="value" type="xs:unsignedByte" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="pressure">
                            <xs:complexType>
                              <xs:attribute name="unit" type="xs:string" use="required" />
                              <xs:attribute name="value" type="xs:decimal" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="from" type="xs:dateTime" use="required" />
                        <xs:attribute name="to" type="xs:dateTime" use="required" />
                        <xs:attribute name="period" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>